# Calculate the number of missing values per column

In [1]:
import pandas as pd

## Read the csv file

In [2]:
df = pd.read_csv('empleados.csv', delimiter=";")

## Print the column names

In [3]:
print(df.columns)

Index(['Nombre', 'Apellido', 'Sexo', 'Estado_Civil', 'Edad', 'Experiencia',
       'Salario', 'Gerencia', 'Departamento'],
      dtype='object')

In [4]:
print(df.head(5))

      Nombre  Apellido       Sexo Estado_Civil  Edad  Experiencia  Salario  \
0  Alexandro       NaN  Masculino   Soltero(a)  22.0          3.0   2423.0
1     Carlos       NaN  Masculino    Casado(a)  38.0         10.0   3132.0
2     Felipa       NaN   Femenino   Soltero(a)  26.0          5.0   2639.0
3     Daniel       NaN  Masculino    Casado(a)  35.0         10.0   3122.0
4       John       NaN  Masculino    Casado(a)  35.0         13.0   3431.0

  Gerencia          Departamento
0       No            Publicidad
1       Sí                   NaN
2       No             Comercial
3       No             Comercial
4       Sí  Servicios al cliente

## Number of Null values per column

In [5]:
null_counts = df.isnull().sum()
print(null_counts)

Nombre            6
Apellido        251
Sexo             37
Estado_Civil      4
Edad             61
Experiencia       4
Salario           6
Gerencia         21
Departamento     12
dtype: int64

In [6]:
null_counts = df.notnull().sum()
print(null_counts)

Nombre          245
Apellido          0
Sexo            214
Estado_Civil    247
Edad            190
Experiencia     247
Salario         245
Gerencia        230
Departamento    239
dtype: int64