# Delete column with the most missing values

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('empleados.csv', delimiter=";")

In [4]:
print(df.head(5))

      Nombre  Apellido       Sexo Estado_Civil  Edad  Experiencia  Salario  \
0  Alexandro       NaN  Masculino   Soltero(a)  22.0          3.0   2423.0
1     Carlos       NaN  Masculino    Casado(a)  38.0         10.0   3132.0
2     Felipa       NaN   Femenino   Soltero(a)  26.0          5.0   2639.0
3     Daniel       NaN  Masculino    Casado(a)  35.0         10.0   3122.0
4       John       NaN  Masculino    Casado(a)  35.0         13.0   3431.0

  Gerencia          Departamento
0       No            Publicidad
1       Sí                   NaN
2       No             Comercial
3       No             Comercial
4       Sí  Servicios al cliente

In [5]:
print(df.shape)

(251, 9)

In [6]:
missing_values = df.isnull().sum()
print(missing_values)

Nombre            6
Apellido        251
Sexo             37
Estado_Civil      4
Edad             61
Experiencia       4
Salario           6
Gerencia         21
Departamento     12
dtype: int64

## Delete the column that has the biggest number of missing values (Apellido)

In [7]:
new_df = df.drop(columns=['Apellido'])
print(new_df.head(5))

      Nombre       Sexo Estado_Civil  Edad  Experiencia  Salario Gerencia  \
0  Alexandro  Masculino   Soltero(a)  22.0          3.0   2423.0       No
1     Carlos  Masculino    Casado(a)  38.0         10.0   3132.0       Sí
2     Felipa   Femenino   Soltero(a)  26.0          5.0   2639.0       No
3     Daniel  Masculino    Casado(a)  35.0         10.0   3122.0       No
4       John  Masculino    Casado(a)  35.0         13.0   3431.0       Sí

           Departamento
0            Publicidad
1                   NaN
2             Comercial
3             Comercial
4  Servicios al cliente