# Verify duplicated rows

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('empleados.csv', delimiter=";")

In [3]:
print(df.shape)

(145, 8)

## Look for duplicated rows

In [10]:
duplicated_rows = df[df.duplicated()]
print(duplicated_rows)

    Nombre       Sexo Estado_Civil  Edad  Experiencia  Salario Gerencia  \
10  Selena   Femenino    Casado(a)    24            6     2709       SÃ­
34   Lucio  Masculino   Soltero(a)    54           12     3317       No

        Departamento
10      Contabilidad
34  Recursos Humanos