# Regression imputation

In [6]:
import pandas as pd
from sklearn.linear_model import LinearRegression

In [ ]:
# Create an untrained linear regression model
regresion_lineal = LinearRegression()

In [8]:
df = pd.read_csv('empleados.csv', delimiter=";")

In [9]:
print(df.head(20))

    Edad  Experiencia  Salario
0   22.0            3     2423
1   26.0            5     2639
2   35.0           10     3122
3   35.0           13     3431
4   54.0           18     3962
5   27.0            4     2564
6   24.0            6     2709
7   58.0           24     4532
8   20.0            1     1977
9   39.0            8     2953
10  24.0            6     2709
11  55.0           12     3306
12  22.0            4     2518
13   NaN           10     3194
14  31.0           11     3267
15   NaN           15     3635
16  34.0           11     3257
17  23.0            5     2695
18   NaN           24     4529
19   NaN           18     3907

In [ ]:
# Visualize missing values per column
print(df.isnull().sum())

Edad           46
Experiencia     0
Salario         0
dtype: int64

## Use linear regression to fill missing ages

In [ ]:
# 1. Identify rows where values are missing in the 'Edad' column
null_values = df[df['Edad'].isnull()]

# 2. Identify rows where values aren't missing in the 'Edad' column
non_null_values = df[df['Edad'].notnull()]

In [ ]:
# y_train are the non-null values of 'Edad'
y_train = non_null_values['Edad']
# x_train are the other columns, excluding 'Edad'
x_train = non_null_values.drop(columns=['Edad'])

# the regression model is trained with the non-null values
regresion_lineal.fit(x_train, y_train)

# 3. Predict the missing values using the trained model: Drop null values from 'Edad' column
null_values = null_values.drop(columns=['Edad'])

# 4. Predict the missing values using the trained model
predicted_ages = regresion_lineal.predict(null_values)

print(predicted_ages)

[38.75882405 45.11533205 57.24087808 48.97973939 31.74032335 31.87681669
 32.77139668 36.94973869 38.30839603 44.97201404 58.46986675 45.25865006
 64.70353075 25.2342213  26.77031997 57.35007275 61.70585611 24.10132659
 35.54330869 33.21500003 58.74967809 56.37359676 38.21967536 53.08301007
 65.26315343 39.53056003 42.39801738 29.28234602 47.90089339 68.25345479
 37.16812803 64.38222278 26.6815993  40.15160472 28.10850331 47.84629606
 65.76135412 46.89029407 57.15215741 43.57240871 57.34324809 36.00056137
 26.40861263 46.6992034  72.00866745 57.11120941]

In [ ]:
# 5. Fill the missing values in the original df where 'Edad' is null
null_values['Edad'] = predicted_ages
print(null_values)

     Experiencia  Salario       Edad
13            10     3194  38.758824
15            15     3635  45.115332
18            24     4529  57.240878
19            18     3907  48.979739
20             5     2656  31.740323
25             5     2676  31.876817
29             6     2709  32.771397
32             9     3027  36.949739
33            10     3128  38.308396
34            15     3614  44.972014
35            25     4611  58.469867
39            15     3656  45.258650
47            30     5034  64.703531
56             1     2095  25.234221
57             2     2222  26.770320
61            24     4545  57.350073
65            27     4889  61.705856
70             1     1929  24.101327
75             8     2919  35.543309
81             6     2774  33.215000
96            25     4652  58.749678
98            23     4500  56.373597
109           10     3115  38.219675
117           21     4214  53.083010
120           30     5116  65.263153
126           11     3209  39.530560
128           13     3433  42.398017
132            3     2492  29.282346
134           17     3847  47.900893
135           32     5358  68.253455
136            9     3059  37.168128
137           29     5085  64.382223
140            2     2209  26.681599
149           11     3300  40.151605
151            3     2320  28.108503
154           17     3839  47.846296
156           30     5189  65.761354
157           16     3797  46.890294
158           24     4516  57.152157
165           14     3507  43.572409
171           24     4544  57.343248
176            8     2986  36.000561
178            2     2169  26.408613
179           16     3769  46.699203
181           35     5614  72.008667
185           24     4510  57.111209