# Mean of every column

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('empleados.csv', delimiter=";")

In [3]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 143 entries, 0 to 142
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Edad         143 non-null    int64
 1   Experiencia  143 non-null    int64
 2   Salario      143 non-null    int64
dtypes: int64(3)
memory usage: 3.5 KB
None

In [4]:
# Edad mean
edad_mean = df['Edad'].mean()
print(f"Edad mean: {edad_mean}")

Edad mean: 33.7972027972028

In [6]:
# Experiencia mean
exp_mean = df['Experiencia'].mean()
print(f"Experiencia mean: {exp_mean}")

Experiencia mean: 6.8671328671328675

In [7]:
# Salario mean
salario_mean = df['Salario'].mean() 
print(f"Salario mean: {salario_mean}")

Salario mean: 2778.6573426573427

In [8]:
print(df.mean(numeric_only=True))

Edad             33.797203
Experiencia       6.867133
Salario        2778.657343
dtype: float64